body {
    background-color: black;
}

.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

.container {
    background-color: gray;
    display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: top;
	height: 4000px;
    width: 1300px;
    margin: 0 auto;
}

.progression {
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    width: 1200px;
}

.raidset {
    background-color: #002665;
    background: linear-gradient(
       to bottom, 
       #002665 30%,
       rgba(0,0,0,0) 100%
    );
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-top: 40px;
    padding-bottom: 30px;
    width: 190px;
}

.raid_button {
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 172px;
    height: 94px;
}

/*Raids*/
#ol {
    background-image: url("img/vanilla/progression/Button-Onyxias_Lair.png");
}
#mc {
    background-image: url("img/vanilla/progression/Button-Molten_Core.png");
}
#bwl {
    background-image: url("img/vanilla/progression/Button-Blackwing_Lair.png");
}
#zg {
    background-image: url("img/vanilla/progression/Button-ZulGurub.png");
}
#raq {
    background-image: url("img/vanilla/progression/Button-Ruins_of_AhnQiraj.png");
}
#taq {
    background-image: url("img/vanilla/progression/Button-Temple_of_AhnQiraj.png");
}
#nax {
    background-image: url("img/vanilla/progression/Button-Naxxramas.png");
}